* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(196, 244, 222, 0.95);
}

.header {
    border-color: #84292B;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins";
    align-items: center;
    padding-bottom: 10px;
    background-color: white;


}

nav {
    background-color: white;
}

ul li {
    background-color: white;
    list-style: none;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-height: 150px;

}

.logo {
    width: 200px;
    max-height: 100px;
}

#logo li a {
    background-color: white;

}

/* ---------------------------------- */
.closeBtn,
.menuBtn {
    font-size: 28px;
    margin: 0px 20px;
    display: none;
}

/* --------------------------------------- */
.nav {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
    background-color: white;

}

.nav li img {
    width: 180px;
    height: 150px;
    margin-top: -20%;
}

#logo {
    margin-left: -40%;
    width: 100%;
    column-gap: 45%;
    background-color: white;

}

#logo button {
    background-color: white;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 15px;
    border-style: none;

}

#logo li p {
    width: 350px;
    color: #000;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: Italianno;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    background-color: white;
    padding-top: 20px;
}

#menu {
    margin-top: -5%;
    width: 100%;
    margin-left: -40%;
    background-color: white;

}

#menu li a {
    background-color: white;
    font-size: 30px;
    text-decoration: none;
    padding-left: 30px;
}

#menu .store {
    background-color: white;
    width: 75px;
    height: 40px;
    margin-left: 75%;
    margin-top: -2%;

}

#menu .store button {
    border-style: none;
}

#menu .store button i {
    background-color: white;
    font-size: 50px;

}

/* -------------------------------------------------------------------------------------------- */

.secondary-section {
    width: 100%;
    height: 600px;
    margin-top: 3%;
}

.square2 .head1 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0%;
    text-align: center;

}

.square2 .head1 h1 {
    width: 100%;
    color: rgba(0, 0, 0, 0.90);
    font-feature-settings: 'case' on;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: Itim;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

.best-sellers {
    display: grid;
    gap: 2%;
    width: 80%;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 10%;
    margin-top: 5%;
    background-color: rgba(196, 244, 222, 0.95);
}


.best-sellers figure {
    position: relative;
    display: flex;
    max-width: 180px;
    flex-direction: column;
    padding-bottom: 1rem;
}

.best-sellers figurei {
    position: relative;
    display: flex;
    max-width: 180px;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-top: 10%;
    margin-left: -30%;
}

.best-sellers figurei i {
    font-size: 130px;
    width: 100px;
    animation: load 1.5s ease-in-out infinite;

}

@keyframes load {

    0%,
    100% {
        margin-left: 10px;
        margin-left: -40px;
    }

    50% {
        margin-left: 10px;
        color: rgb(74, 246, 55);
    }
}

.best-sellers button {
    width: 130px;
    height: 130px;
    border-width: 5px;
    border-radius: 80px;
    background-color: white;

}

.best-sellers button:hover {
    border-color: red;
    background-color: white;

}

.best-sellers button i {
    font-size: 45px;
    background-color: white;

}

.best-sellers button i:hover {
    background-color: white;
}

.best-sellers figure .name {
    padding-top: 10px;
}

.best-sellers figure p {
    width: 180px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poly;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    margin-left: -10%;
}

/* ------------------------------------------------------------------------------------------- */
.footer {
    margin-top: -10%;
    justify-content: center;
    background-color: #DEDCDA;
}

.footer .col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    background-color: #DEDCDA;
}

.footer .col .one {
    width: 100%;
    background-color: #DEDCDA;
}

.footer .col .two {
    width: 50%;
    margin-top: 5%;
    background-color: #DEDCDA;
    padding-bottom: 100px;
}

.footer .col .one img {
    width: 342px;
    height: 236px;
    flex-shrink: 0;
    padding-left: 70px;
    padding-top: 50px;
    background-color: #DEDCDA;

}

.footer .col .one .para p {
    width: 863px;
    height: 126px;
    flex-shrink: 0;
    color: #000;
    font-family: Imprima;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
    padding-top: 30px;
    background-color: #DEDCDA;

}

.footer .col .two ul li {
    list-style: none;
    width: 258px;
    height: 25px;
    color: #000;
    font-family: Imprima;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
    padding-top: 35px;
    background-color: #DEDCDA;
    cursor: pointer;
  
}
.footer .col .two ul a{
    text-decoration: none;
}  

.footer .col .two ul li i {
    padding-left: 40px;
    background-color: #DEDCDA;

}

.footer .col .two .icon {
    margin-left: -15%;
    background-color: #DEDCDA;

}

.footer .col .two h1 {
    background-color: #DEDCDA;
    padding-bottom: 0px;

}