* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.header {
    border-color: #84292B;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins";
    align-items: center;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid black;
}

nav {
    background-color: white;
}

ul li {
    background-color: white;
    list-style: none;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-height: 150px;

}

.logo {
    width: 200px;
    max-height: 100px;
}

#logo li a {
    background-color: white;

}

/* ---------------------------------- */
.closeBtn,
.menuBtn {
    font-size: 28px;
    margin: 0px 20px;
    display: none;
}

/* --------------------------------------- */
.nav {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
    background-color: white;

}

.nav li img {
    width: 180px;
    height: 150px;
    margin-top: -20%;
}

#logo {
    margin-left: -50%;
    width: 100%;
    column-gap: 50%;
    background-color: white;

}

#logo button {
    background-color: white;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 15px;
    border-style: none;

}

#logo li p {
    width: 350px;
    color: #000;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: Italianno;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    background-color: white;
    padding-top: 20px;
}

#menu {
    margin-top: -5%;
    width: 100%;
    margin-left: -40%;
    background-color: white;

}

#menu li a {
    background-color: white;
    font-size: 30px;
    text-decoration: none;
    padding-left: 30px;
    color: #000;
}

#menu .store {
    background-color: white;
    width: 75px;
    height: 40px;
    margin-left: 75%;
    margin-top: -2%;

}

#menu .store button {
    border-style: none;
}

#menu .store button i {
    background-color: white;
    font-size: 50px;

}

/* -------------------------------------------------------------------------------------------- */

.secondary-section {
    width: 100%;
    height: 600px;
}

.first {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding-top: 50%; */
}


.square1 {
    width: 200px;
    height: 100px;
}

.side-navbar {
    width: 300px;
    height: 820px;
    background-color: white;
    padding: 10px 20px;
    padding-left: 50px;

}

.side-navbar h1 {
    color: rgba(0, 0, 0, 0.90);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.side-nav-heading a {
    color: black;

}
.side-navbar li a{
    color: black;
    text-decoration: none;

}

.side-nav-heading a:hover {
    color: #8B0000;
    transform: scaleX(1.1);
    font-weight: 600;
}

.side-navbar h1,
.side-navbar li,
.side-navbar a,
.side-navbar ul,
.side-nav-heading li {
    background-color: white;
    list-style: none;
    padding-top: 10px;

}

/* -------------------------------------------------------------------------------------------- */
.square2 .head1 {
    width: 140%;
    margin-top: 20px;
    margin-left: -40%;
    border-bottom: 2px solid black;
    
}

.square2 .head1 h1 {
    width: 100%;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.90);
    font-feature-settings: 'case' on;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.best-sellers {
    display: grid;
    gap: 9%;
    width: 100%;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    margin-left: -40%;
    margin-top: 10%;

}


.best-sellers figure {
    position: relative;
    display: flex;
    max-width: 60%;
    flex-direction: column;
    padding-bottom: 1rem;
}

.best-sellers img {
    display: flex;
    flex-shrink: 0;
    width: 180px;
    height: 199px;
    flex-shrink: 0;
    border-radius: 20px;

}

.best-sellers figure .name {
    padding-top: 10px;
}

.best-sellers figure p {
    width: 180px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poly;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    padding-left: 15px;
}
.best-sellers1 {
    display: grid;
    gap: 9%;
    width: 100%;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -25%;
    margin-top: 10%;

}


.best-sellers1 figure {
    position: relative;
    display: flex;
    max-width: 60%;
    flex-direction: column;
    padding-bottom: 1rem;
}

.best-sellers1 img {
    display: flex;
    flex-shrink: 0;
    width: 180px;
    height: 199px;
    flex-shrink: 0;
    border-radius: 20px;

}

.best-sellers1 figure .name {
    padding-top: 10px;
}

.best-sellers1 figure p {
    width: 180px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poly;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    padding-left: 15px;
}


/* ------------------------------------------------------------------------------------------- */
.footer {
    margin-top: 15%;
    justify-content: center;
    background-color: #DEDCDA;
}

.footer .col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    background-color: #DEDCDA;
}

.footer .col .one {
    width: 100%;
    background-color: #DEDCDA;
}

.footer .col .two {
    width: 50%;
    margin-top: 5%;
    background-color: #DEDCDA;
    padding-bottom: 100px;
}

.footer .col .one img {
    width: 342px;
    height: 236px;
    flex-shrink: 0;
    padding-left: 70px;
    padding-top: 50px;
    background-color: #DEDCDA;

}

.footer .col .one .para p {
    width: 863px;
    height: 126px;
    flex-shrink: 0;
    color: #000;
    font-family: Imprima;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
    padding-top: 30px;
    background-color: #DEDCDA;

}

.footer .col .two ul li {
    list-style: none;
    width: 258px;
    height: 25px;
    color: #000;
    font-family: Imprima;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
    padding-top: 35px;
    background-color: #DEDCDA;
    cursor: pointer;
  
}
.footer .col .two ul a{
    text-decoration: none;
}  

.footer .col .two ul li i {
    padding-left: 40px;
    background-color: #DEDCDA;

}

.footer .col .two .icon {
    margin-left: -15%;
    background-color: #DEDCDA;

}

.footer .col .two h1 {
    background-color: #DEDCDA;
    padding-bottom: 0px;

}